@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;700&display=swap');

:root {
	--font-body: 'Fira Code', monospace, sans-serif;

	--primary: #ff60005e;
	--bg-color: #ff6000;
	--text-dark: #444;
	--text-light: #ffe6c7;
	--accent: #ffa559;

	color: var(--text-dark);
}

* {
	box-sizing: border-box;
	font-family: var(--font-body);
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--text-dark);
}
